node_modules/
dist/

src-tauri/target/
src-tauri/binaries/

public/neuorrun/

brainaccess-sidecar/build/
brainaccess-sidecar/dist/

brainlink-sidecar/build/
brainlink-sidecar/dist/

ssvep-sidecar/build/
ssvep-sidecar/dist/

**/.venv/
**/venv/